*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-display: swap;
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/silkscreen-v4-latin-regular.woff2") format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/silkscreen-v4-latin-700.woff2') format('woff2');
}
  
.canvas-wrapper {
    height: 100vh;
    background-color: rgb(219, 219, 219);
    position: relative;
}

.score-canvas {
    z-index: 4;
    position: absolute;
}

.player-canvas {
    z-index: 3;
    position: absolute;
}

.pipe-canvas {
    z-index: 2;
    position: absolute;
}

.background-canvas {
    z-index: 1;
    position: absolute;
}