*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.canvas-wrapper {
    height: 100vh;
    background-color: rgb(219, 219, 219);
    position: relative;
}

.score-canvas {
    z-index: 4;
    position: absolute;
}

.player-canvas {
    z-index: 3;
    position: absolute;
}

.pipe-canvas {
    z-index: 2;
    position: absolute;
}

.background-canvas {
    z-index: 1;
    position: absolute;
}